### 주제
- 년도별 남/여 인구비율 - 인구_남, 인구_여 column 다음에 위치
- 한국인/외국인 비율 - 인구밀도 앞에 위치

한/외
남/여

In [277]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pop_df = pd.read_csv('등록인구추이_20230223163324.csv', encoding = 'cp949')
pop_df.drop(0, axis=0, inplace=True)
pop_df.columns = ['시점','세대수', '인구_남', '인구_여', '한국인(명)', '외국인(명)', '인구밀도']

pop_df.head()

     시점      세대수     인구_남     인구_여   한국인(명) 외국인(명)    인구밀도
1  2018  1480468  1721327  1772692  3441453  52566  769.94
2  2019  1497908  1704098  1762465  3413841  52722  770.07
3  2020  1530431  1686412  1752298  3391946  46764  770.07

##  해당 calumn => pd명['calumn명'] / pd명[:, 'calumn명']

In [278]:
df_mg = pop_df['인구_남'].astype(np.float64)/pop_df['인구_여'].astype(np.float64)

In [279]:
pop_df.insert(4, '인구_남/여', df_mg)

In [280]:
pop_df

     시점      세대수     인구_남     인구_여    인구_남/여   한국인(명) 외국인(명)    인구밀도
1  2018  1480468  1721327  1772692  0.971024  3441453  52566  769.94
2  2019  1497908  1704098  1762465  0.966883  3413841  52722  770.07
3  2020  1530431  1686412  1752298  0.962400  3391946  46764  770.07

In [281]:
df_ky = pop_df['한국인(명)'].astype(np.float64)/pop_df['외국인(명)'].astype(np.float64)

In [282]:
pop_df.insert(7, '국적_한/외', df_ky)

In [283]:
pop_df

,시점,세대수,인구_남,인구_여,인구_남/여,한국인(명),외국인(명),국적_한/외,인구밀도
1,2018,1480468,1721327,1772692,0.971024,3441453,52566,65.469182,769.94
2,2019,1497908,1704098,1762465,0.966883,3413841,52722,64.751736,770.07
3,2020,1530431,1686412,1752298,0.962400,3391946,46764,72.533273,770.07