In [5]:
import sqlite3
con = sqlite3.connect("test.db") #확장자 의미어ㅏㅄ음
cur = con.cursor()
cur.execute("CREATE TABLE abalone(length real, diameter real)")
cur.execute("INSERT INTO abalone(length, diameter) VALUES(10.0, 20.0)")
con.commit()
con.close()

OperationalError: table abalone already exists

In [2]:
con = sqlite3.connect("test.db")
cur = con.cursor()
res = cur.execute("SELECT * FROM abalone")
print(res.fetchall())

[(10.0, 20.0), (11.5, 15.0)]

In [3]:
con = sqlite3.connect("test.db")
cur = con.cursor()
cur.execute('INSERT INTO abalone(length, diameter) VALUES(11.5, 15.00)')
con.commit()
con.close()

In [4]:
con = sqlite3.connect("test.db")
cur = con.cursor()
res = cur.execute('SELECT * FROM abalone')
print(res.fetchall())

[(10.0, 20.0), (11.5, 15.0), (11.5, 15.0)]