### 각 개별 jupyter note에서 전처리 후, pickle 또는 csv저장.

1. 전국일방통행도로표준데이터
- 시도명, 지정사유, 지정연도, 도로폭, 도로차수, 보차분리여부

2. 전국어린이보호구역표준데이터 시도명 작업필요,
- 시설종류, 관할경찰서명, CCTV설치여부, CCTV설치대수, 제공기관명, 보호구역도로폭

3. 전국노인장애인보호구역표준데이터
- 시도명, 제한속도, CCTV설치여부, CCTV설치대수, 보호구역도로폭

4. 새로운 jupyter note에서 종합.
- 시도명, 어린이보호구역 CCTV 설치대수, 노인장애인보호구역 CCTV 설치대수, 일방통행 보차분리 ycount

In [2]:
import numpy as np
import pandas as pd

In [84]:
pd_old = pd.read_csv('전국노인장애인보호구역표준데이터(전처리완료).csv', encoding ='cp949')
pd_child = pd.read_csv('전국어린이보호구역표준데이터(전처리완료).csv', encoding ='cp949')
pd_way = pd.read_csv('전국일방통행도로표준데이터(전처리완료).csv', encoding = 'cp949')

In [145]:
y=pd_child[['시도명', '어린이보호구역CCTV설치대수']]

In [148]:
y.groupby('시도명').sum()

          어린이보호구역CCTV설치대수
시도명
강원도 강릉시             213.0
강원도 고성군              43.0
강원도 동해시              74.0
강원도 삼척시              40.0
강원도 속초시              62.0
...                   ...
충청북도 제천시            190.0
충청북도 증평군              8.0
충청북도 진천군            241.0
충청북도 청주시            923.0
충청북도 충주시            230.0

[225 rows x 1 columns]

            시도명  어린이보호구역CCTV설치대수
0      전라북도 고창군              1.0
1      전라북도 고창군              2.0
2      전라북도 고창군              1.0
3      전라북도 고창군              2.0
4      전라북도 고창군              1.0
...         ...              ...
15051  전라남도 목포시              4.0
15052  전라남도 목포시              2.0
15053  전라남도 목포시              3.0
15054  전라남도 목포시              4.0
15055  경상남도 창원시              1.0

[15056 rows x 2 columns]

In [20]:
pd_old.set_index(['시도명'], inplace = True)
pd_child.set_index(['시도명'], inplace = True)
pd_way.set_index(['시도명'], inplace = True)

In [23]:
result = pd.merge(pd_old, pd_child, on = '시도명')
result1 = pd.merge(result, pd_way, on = '시도명')

In [28]:
result1.reset_index(inplace=True)

In [32]:
# frame = [pd_old, pd_child, pd_way]
pd_old

       Unnamed: 0  제한속도 CCTV설치여부  CCTV설치대수  보호구역도로폭  노인장애인보호구역CCTV설치대수
시도명
서울특별시           0    30        Y       1.0      NaN                1.0
경상북도            1    30        N       0.0      NaN                0.0
경상북도            2    30        N       0.0      NaN                0.0
경상북도            3    30        N       0.0      NaN                0.0
경상북도            4    30        N       0.0      NaN                0.0
...           ...   ...      ...       ...      ...                ...
대구광역시        2513    30        N       0.0      NaN                0.0
대구광역시        2514    30        N       0.0      NaN                0.0
대구광역시        2515    30        N       0.0      NaN                0.0
대구광역시        2516    30        N       0.0      NaN                0.0
대구광역시        2517    30        N       0.0      NaN                0.0

[2518 rows x 6 columns]

In [86]:
pd_old['노인장애인보호구역CCTV설치대수'] = pd_old['CCTV설치대수']
# pd_old.drop('CCTV설치대수', exis = 1, inplace=True)
pd_old = pd_old.drop('CCTV설치대수', axis = 1)

In [87]:
pd_old

      Unnamed: 0    시도명  제한속도 CCTV설치여부  보호구역도로폭  노인장애인보호구역CCTV설치대수
0              0  서울특별시    30        Y      NaN                1.0
1              1   경상북도    30        N      NaN                0.0
2              2   경상북도    30        N      NaN                0.0
3              3   경상북도    30        N      NaN                0.0
4              4   경상북도    30        N      NaN                0.0
...          ...    ...   ...      ...      ...                ...
2513        2513  대구광역시    30        N      NaN                0.0
2514        2514  대구광역시    30        N      NaN                0.0
2515        2515  대구광역시    30        N      NaN                0.0
2516        2516  대구광역시    30        N      NaN                0.0
2517        2517  대구광역시    30        N      NaN                0.0

[2518 rows x 6 columns]

In [88]:
pd_child['어린이보호구역CCTV설치대수'] = pd_child['CCTV설치대수']

pd_child = pd_child.drop('CCTV설치대수', axis = 1)

In [89]:
pd_child

       Unnamed: 0  시설종류   관할경찰서명 CCTV설치여부   보호구역도로폭       시도명  어린이보호구역CCTV설치대수
0               0   유치원    고창경찰서        Y  10.94575  전라북도 고창군              1.0
1               1  초등학교    고창경찰서        Y  10.94575  전라북도 고창군              2.0
2               2   유치원    고창경찰서        Y  10.94575  전라북도 고창군              1.0
3               3  초등학교    고창경찰서        Y  10.94575  전라북도 고창군              2.0
4               4   유치원    고창경찰서        Y  10.94575  전라북도 고창군              1.0
...           ...   ...      ...      ...       ...       ...              ...
15051       15051  초등학교    목포경찰서        Y  10.94575  전라남도 목포시              4.0
15052       15052  초등학교    목포경찰서        Y  10.94575  전라남도 목포시              2.0
15053       15053  초등학교    목포경찰서        Y  10.94575  전라남도 목포시              3.0
15054       15054  초등학교    목포경찰서        Y  10.94575  전라남도 목포시              4.0
15055       15055  초등학교  창원중부경찰서        Y  10.94575  경상남도 창원시              1.0

[15056 rows x 7 columns]

In [130]:
# frame = [pd_old['시도명','노인장애인보호구역CCTV설치대수'], pd_child['시도명','어린이보호구역CCTV설치대수'], pd_way['시도명', '보차분리여부'
# ]]
column_selection = ['시도명', '노인장애인보호구역CCTV설치대수']
old = pd_old[column_selection]
old

        시도명  노인장애인보호구역CCTV설치대수
0     서울특별시                1.0
1      경상북도                0.0
2      경상북도                0.0
3      경상북도                0.0
4      경상북도                0.0
...     ...                ...
2513  대구광역시                0.0
2514  대구광역시                0.0
2515  대구광역시                0.0
2516  대구광역시                0.0
2517  대구광역시                0.0

[2518 rows x 2 columns]

In [131]:
column_selection = ['시도명', '어린이보호구역CCTV설치대수']
child = pd_child[column_selection]
child

            시도명  어린이보호구역CCTV설치대수
0      전라북도 고창군              1.0
1      전라북도 고창군              2.0
2      전라북도 고창군              1.0
3      전라북도 고창군              2.0
4      전라북도 고창군              1.0
...         ...              ...
15051  전라남도 목포시              4.0
15052  전라남도 목포시              2.0
15053  전라남도 목포시              3.0
15054  전라남도 목포시              4.0
15055  경상남도 창원시              1.0

[15056 rows x 2 columns]

In [132]:
column_selection = ['시도명','보차분리여부']
way = pd_way[column_selection]
way

        시도명 보차분리여부
0       경기도      Y
1       경기도      Y
2       경기도      Y
3       경기도      Y
4       경기도      Y
...     ...    ...
2154    경기도      N
2155    경기도      N
2156    경기도      N
2157    경기도      N
2158  서울특별시      N

[2159 rows x 2 columns]

In [128]:
all = pd.merge(a, way, on = '시도명')

In [139]:
all_group = all.groupby('시도명','어린이보호구역CCTV설치대수','노인장애인보호구역CCTV설치대수','보차분리여부')

ValueError: No axis named 어린이보호구역CCTV설치대수 for object type DataFrame

In [138]:
all_group

In [59]:
print(result1['보차분리여부'].value_counts())

N    9083505
Y    5367591
Name: 보차분리여부, dtype: int64